body {
    font-family: sans-serif;
    margin: 0;
}
$header-bg: #E5E5E5;
$text-color:#333333;
.header{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas: "header-logo header-nav header-btn"
                        ". header-txt .";
    max-width: 100%;
    min-height: 600px;
    align-items: center;
    background-color: $header-bg;
    font-size: 24px;
    position: relative;
    background-image: url("../img/gpraph 1.png"),
                        url("../img/graph 2.png");
    background-repeat: no-repeat, no-repeat;
    background-position:  70px 219px, 124px 411px;
    background-size: contain;
    padding: 50px 80px 136px 80px;
    box-sizing: border-box;
    &-logo{
        max-width: 155px;
        grid-area: header-logo;
        text-decoration: none;
        display: grid;
        grid-template-columns:  auto auto;
        align-items: center;
    }
    &-logo span{
        color: black;
    }
    &-logo:hover{
        transform: scale(1.2);
    }
    &-nav{
        grid-area: header-nav;
        display: flex;
        justify-content: center;
        &-link{
            margin-right: 96px;
            text-decoration: none;
            color:$text-color;
            &:last-child{
                margin-right: 0;
            }
        }
        &-link:hover{
            color: #87B645;
        }
        &-link:active{
            color: $text-color;
        }
    }
    &-btn{
        grid-area: header-btn;
        justify-self: end;
        background: #87B645;
        border-radius: 4px;
        padding: 16px;
        width: 232px;
        border: none;
        font-weight: 500;
        font-size: 24px;
        line-height: 23px;
        color: #FFFFFF;
        cursor: pointer;
    }
    &-btn:hover{
        background-color: white;
        color: #87B645;;
    }
    &-btn:active{
        background-color: #87B645;
        color: white;
    }
    &-txt{
        grid-area: header-txt;
        width: 100%;
        max-width: 840px;
        margin-top: 144px;
        justify-self: center;
        &-title{
            margin: 0 0 0 0;
            text-align: center;
            width: 100%;
            max-width: 840px;
            font-size: 63px;
            line-height: 130%;
        }
        &-subtitle{
            display: block;
            text-align: center;
            width: 100%;
            max-width: 840px;
            margin: 56px 0 57px 0;
        }
        &-buttons{
            display: flex;
            justify-content: center;
            max-width: 840px;
            &-button{
                background: #87B645;
                border-radius: 4px;
                font-weight: 500;
                font-size: 18px;
                line-height: 17px;
                text-decoration: none;
                color: #FFFFFF;
                padding: 14px;
                width: 268px;
                text-align: center;
                margin: 0 54px 0 0;
            }
            &-button:hover{
                background-color: white;
                color: #87B645;
            }
            &-button:active{
                background-color: #87B645;
                color: white;
            }
            &-link{
                text-decoration: none;
                border: 1px solid #A0C4FA;
                box-sizing: border-box;
                border-radius: 4px;
                font-weight: 300;
                font-size: 18px;
                line-height: 17px;
                padding: 14px;
                width: 240px;
                text-align: center;
                color: black;
            }
            &-link:hover{
                background-color: white;
            }
            &-link:active{
                background-color: transparent;
            }
        }
    }
}
.open-mining{
    width: 100%;
    max-width: 100%;
    position: relative;
    background-image: url(/img/open-mining_bg.png);
    background-repeat: no-repeat;
    background-size: 42%;
    background-position: right top;
    background-color: $header-bg;
    &-txt{
        // width: 100%;
        max-width: 560px;
        float: right;
        display: inline-block;
        margin: 0;
        position: absolute;
        top: 304px;
        right: 144px;
        &-title{
            margin: 0;
            font-size: 48px;
            line-height: 100%;
            color: #1BAAD1;
        }
        &-text{
            margin: 0;
            font-size: 30px;
            line-height: 140%;
        }
        
    }
    &-img{
        width: 1448px;
        height: 1352px;
        margin: 0 0 0 144px;
    }
}
.cards{
    width: 100%;
    max-width: 100%;
    display:flex;
    justify-content: center;
    padding: 112px 0 136px 0;
    box-sizing: border-box;
    background-color: $header-bg;
    &-card{
        border: 1px solid #D7D7D7;
        box-sizing: border-box;
        padding: 72px 48px 104px 32px;
        width: 415px;
        grid-area: area;
        text-align: center;
        border-radius: 24px;
        position: relative;
        background-color: white;
        &:nth-child(1),&:nth-child(3){
            margin: 24px 0 0 0 ;
        }
        &:nth-child(2){
            margin: 0 80px;
        }
        &::after{
            content: "";
            display: inline-block;
            width: 37px;
            height: 27px;
            position: absolute;
            top: 225px;
            left: 437px;
            background-image: url('../img/arrow.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        &:nth-child(3)::after{
            display: none;
        }
        &-img{

        }
        &-title{
            max-width:336px;
            margin: 16px auto 24px;
            font-weight: bold;
            font-size: 24px;
            line-height: 140%;
        }
        &-txt{
            max-width: 336px;
            margin: 0;
            font-size: 17px;
            line-height: 140%;
        }
    }
    
}
.pluses{
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-areas:    ". pluses-title pluses-title ."
                            ". pluses-kind1 pluses-kind2 .";
    background-color: $header-bg;
    padding: 0 0 143px 0;
    box-sizing: border-box;
    background-image: url("../img/pluses-bg.png");
    background-repeat: no-repeat;
    
    &-title{
        grid-area: pluses-title;
        text-align: center;
        font-weight: bold;
        font-size: 48px;
        line-height: 100%;
        margin: 0 0 72px 0;
    }
    &-kind1{
        grid-area: pluses-kind1;
        margin-right:32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title{
            width: 100%;
            max-width: 688px;
            background-color:#ECECEC;
            border-radius: 12px;
            font-weight: bold;
            font-size: 36px;
            line-height: 128px;
            padding: 40px 40px 40px 80px;
            box-sizing: border-box;
            border-top: 16px solid #EB5757;
            text-align: center;
            margin: 0 0 24px 0;
            &::before{
                content: "?";
                display: block;
                width: 128px;
                height: 128px;
                font-size: 58px;
                color: white;
                background-color: #EB5757;
                border-radius: 50%;
                float: left;
            }
        }
        &-txt{
            display: block;
            width: 640px;
            font-size: 18px;
            line-height: 140%;
            border-left: 8px solid #EB5757;
            padding: 24px;
            box-sizing: border-box;
            background-color: #ECECEC;
            margin-bottom: 24px;
            border-radius: 4px 8px 8px 4px;
            &:nth-child(3),
            &:nth-child(5),
            &:nth-child(7),
            &:nth-child(9){
                background-color: transparent;
            }
        }
    }
    &-kind2{
        grid-area: pluses-kind2;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title{
            width: 100%;
            max-width: 688px;
            background-color:#ECECEC;
            border-radius: 12px;
            font-weight: bold;
            font-size: 36px;
            line-height: 128px;
            padding: 40px 40px 40px 80px;
            box-sizing: border-box;
            border-top: 16px solid #87B645;
            text-align: center;
            margin: 0 0 24px 0;
            &::before{
                content: "\2714";
                display: block;
                width: 128px;
                height: 128px;
                font-size: 58px;
                color: white;
                background-color: #87B645;
                border-radius: 50%;
                float: left;
            }
        }
        &-txt{
            display: block;
            width: 640px;
            font-size: 18px;
            line-height: 140%;
            border-left: 8px solid #87B645;
            padding: 24px;
            box-sizing: border-box;
            background-color: #ECECEC;
            margin-bottom: 24px;
            border-radius: 4px 8px 8px 4px;
            &:nth-child(3),
            &:nth-child(5),
            &:nth-child(7),
            &:nth-child(9){
                background-color: transparent;
            }
        }
    }
}
.finance{
    min-height: 673px;
    max-width: 100%;
    background-color: $header-bg;
    border: 1px solid #000;
    box-sizing: border-box;
}
.guarantee{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    background-color: $header-bg;
    background-image: url("../img/guarantee-bg.png");
    background-repeat: no-repeat;
    background-position: 64% 0%;
    
    &-title{
        font-weight: bold;
        font-size: 48px;
        line-height: 100%;
        width: 100%;
        text-align: center;
        margin: 147px 0 72px 0;
    }
    &-card{
        width: 100%;
        max-width: 432px;
        min-height: 296px;
        background-color: #F8DB73;
        border-radius: 8px;
        padding: 32px;
        box-sizing: border-box;
        margin: 0 0 81px 0;
        &:nth-child(2){
            background-image: url("../img/01.png");
            background-repeat: no-repeat;
            background-position: 100% 8px;
        }
        &:nth-child(3){
            margin: 0 56px 81px 56px;
            background-color: #A0C4FA;
            background-image: url("../img/02.png");
            background-repeat: no-repeat;
            background-position: 100% 8px;
        }
        &:nth-child(4){
            background-color: white;
            background-image: url("../img/03.png");
            background-repeat: no-repeat;
            background-position: 100% 8px;
        }
        &-title{
            font-weight: bold;
            font-size: 24px;
            line-height: 140%;
            color: #2B69DD;
        }
        &-subtitle{
            font-size: 18px;
            line-height: 140%;
        }
    }
    &-diagram{
        width: 100%;
        margin: 0 50%;
    }
    &-img{
        width: 100%;
    }
    &-link{
        width: 100%;
        text-align: center;
        margin: 55px 0 136px 0;
    }
}
.faq{
    min-height: 673px;
    max-width: 100%;
    background-color: $header-bg;
    background-image: url("../img/faq.png");
    background-repeat: no-repeat;
    background-position: 100% 0%;
    &-title{
        font-weight: bold;
        font-size: 48px;
        line-height: 100%;
        width: 100%;
        text-align: center;
        margin: 0 0 50px 0;
        width: 100%;
    }
    &-colums{
        display: flex;
        justify-content: center;
        &-first{
            margin-right: 160px;
        }
        &-second{
            width: 472px;
            &-title{
                font-weight: bold;
                font-size: 36px;
                line-height: 130%;
                margin: 0 0 16px 0;
            }
        }
    }
    &-block{
        background-color: #F8DB73;
        padding: 48px 88px 48px 40px;
        box-sizing: border-box;
        width: 776px;
        border-radius: 10px;
        margin-bottom: 24px;
        margin-left: 256px;
        &-title{
            line-height: 56px;
            font-weight: bold;
            font-size: 30px;
        }
    }
    &-block-green{
        background-color: #87B645;
        padding: 48px 88px 48px 40px;
        box-sizing: border-box;
        width: 776px;
        border-radius: 10px;
        margin-bottom: 24px;
        margin-left: 256px;
        &-title{
            line-height: 56px;
            font-weight: bold;
            font-size: 30px;
            color:white;
        }
    }
}
details {
    margin-left: 50px;
}

summary {
    outline: none;
    font-weight: bold;
    position: relative;
}

summary::marker {
    display: none;
    color: transparent;
}

summary:before {
    content: "+";
    display: block;
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 9px;
    left: -45px;
    line-height: 40px;
}

details[open] summary:before {
    content: "-";
}

.contacts{
    min-height: 673px;
    max-width: 100%;
    background-color: $header-bg;
    padding: 0 0 303px 0;
    box-sizing: border-box;
    background-image: url("../img/contacts1.png");
    background-repeat: no-repeat;
    background-position: 70% 30%;
    &-title{
        font-weight: bold;
        font-size: 48px;
        line-height: 100%;
        width: 100%;
        text-align: center;
        padding: 124px 0 0 0;
        box-sizing: border-box;
        margin:0 0 98px 0;
        min-height: 112px;
    }
    &-text{
        text-align: center;
        font-size: 18px;
        line-height: 140%;
        margin: 0 auto 104px;
        width: 472px;
    }
    &-input{
        width: 480px;
        height: 56px;
        margin: 0 auto 16px;
        display: block;
        padding-left:16px;
        border-radius: 4px;
        border: 1px solid #D7D7D7;
        box-sizing: border-box;
    }
    &-checkbox{
        width: 480px;
        display: block;
        margin: 0 auto;
        font-size: 14px;
        line-height: 140%;
        &-text{
            margin: 8px 0 55px 0;
        }
    }
    &-checkbox input{
        margin: 0;
    }
    &-button{
        background-color: #87B645;
        color: white;
        padding: 18px;
        box-sizing: border-box;
        width: 268px;
        margin: 0 auto;
        display: block;
        border: none;
        border-radius: 4px;
        font-weight: 500;
        font-size: 24px;
        line-height: 23px;
        cursor: pointer;
    }
    &-button:hover{
        background-color: white;
        color: #87B645;
    }
    &-button:active{
        background-color:#87B645;
        color: white;
    }
}

.footer {
    max-width: 100%;
    background-color: $header-bg;
    margin: 0 auto;
    display: block;
    background-image:  url('../img/footer1.png'), url('../img/footer2.png');
    background-position: top left, top right;
    background-repeat: no-repeat ;
    &-line {
        display: flex;
        justify-content:space-between;
        margin: 0 30% 40px 30%;
        &-item {
            display: block;
            width: 184px;
            font-size: 24px;
            line-height: 130%;
            cursor: pointer;
        }
        &-item:hover{
            color: #87B645;
        }
        &-item:active{
            color: $text-color;
        }
    }
    &-copyright{
        display: block;
        text-align: center;
        color: #A1A1A3;
        font-size: 12px;
        line-height: 22px;
    }
    &-logo{
        position: absolute;
        left: 72px;
        bottom: 207px;
    }
}
.line2{
    font-size: 18px;
    line-height: 140%;
}

